<div class="popup">
  <div class="container">
    <h1 class="adapt">{{ selectedEmail.subject }}</h1>
    <fieldset [attr.disabled]="fieldsetDisabled ? '' : null">
      <form #loopForm="ngForm" (ngSubmit)="loopSubmit()">
        <div class="input-dropdown-wrapper">
          <div class="input-wrapper adapt">
            <p class="title">Share email with your teammates</p>
            <span *ngFor="let user of selectedUsers; index as i">
              <span
                [class.disabled]="fieldsetDisabled"
                (click)="!fieldsetDisabled && removeSelected(i)"
                class="selected-user"
              >
                {{ user.name }}
              </span>
            </span>
            <input
              #textInputName
              type="text"
              class="name-input"
              (focus)="onInputFocus()"
              (blur)="onInputBlur()"
              [(ngModel)]="nameInput"
              (input)="filterDropdownOptions()"
              name="nameInput"
              placeholder="Type name or email"
              autocomplete="off"
            />
          </div>
          <f-dropdown
            (eventUserClicked)="updateSelectedUsers($event)"
            [users]="dropdownOptions"
            [selectedIndex]="dropdownSelectedIndex"
            [showDropdown]="showDropdown"
          ></f-dropdown>
        </div>
        <div class="adapt">
          <div class="email-wrapper adapt">
            <div class="head">
              <div class="row">
                <p class="from">
                  {{ selectedEmail.from.name }}
                </p>
                <p class="time">
                  {{ selectedEmail.time }}
                </p>
              </div>
              <div class="row">
                <p class="to">
                  <span>to </span>
                  <span *ngFor="let recipient of selectedEmail.to; index as i">
                    <span *ngIf="i > 0">, </span>
                    {{ recipient.name }}</span
                  >
                </p>
                <div class="replays">
                  <span>
                    {{ selectedEmail.replays }}
                  </span>
                </div>
              </div>
            </div>
            <div class="body">
              <p>
                {{ selectedEmail.body }}
              </p>
            </div>
          </div>

          <div class="message-wrapper">
            <input
              type="text"
              class="message-input"
              placeholder="Add a comment..."
              name="messageInput"
              [(ngModel)]="messageInput"
              autocomplete="off"
            />
          </div>

          <div class="button-wrapper">
            <button type="submit">Share</button>
          </div>
        </div>
      </form>
    </fieldset>
    <success-message
      *ngIf="showSuccessMessage"
      [formData]="formData"
    ></success-message>
  </div>
</div>
