<div class="popup">
  <div class="container">
    <h1 class="adapt">{{ selectedEmail.subject }}</h1>
    <form action="">
      <div class="input-dropdown-wrapper">
        <div class="input-wrapper adapt">
          <p class="title">Share email with your teammates</p>
          <div class="selected-users">
            <span *ngFor="let user of selectedUsers">{{ user.name }}</span>
          </div>
          <input
            type="text"
            class="name-input"
            (focus)="onInputFocus()"
            (blur)="onInputBlur()"
            value=""
            placeholder="Type name or email"
          />
          <!-- <button (click)="filter()">click</button> -->
        </div>
        <f-dropdown
          [users]="usersOptions"
          [showDropdown]="showDropdown"
        ></f-dropdown>
      </div>

      <div class="adapt">
        <div class="email-wrapper adapt">
          <div class="head">
            <p class="from">
              {{ selectedEmail.from.name }}
            </p>
            <p class="to">
              <span>to </span>
              <!-- TODO: add comma -->
              <span *ngFor="let recipient of selectedEmail.to">{{
                recipient.name
              }}</span>
            </p>
          </div>
          <div class="body">
            <p>
              {{ selectedEmail.body }}
            </p>
          </div>
        </div>

        <div class="message-wrapper">
          <input
            type="text"
            class="message-input"
            placeholder="Add a comment..."
            name="message"
          />
        </div>

        <div class="button-wrapper">
          <button type="submit">Share</button>
        </div>
      </div>
    </form>
  </div>
</div>
