@import "../../styles/variables";

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}

.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.25);
}

.adapt {
  padding-left: 12px;
  padding-right: 12px;
}
h1 {
  font-size: 20px;
  font-weight: 400;
  color: $black_medium;
  margin-bottom: 8px;
}

.container {
  position: relative;
  width: 480px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 8px 4px #00000017;
  padding: 10px 0 22px;
}

.input-dropdown-wrapper {
  position: relative;
  margin-bottom: 44px;
}

.input-wrapper {
  position: relative;
  z-index: 10;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
  background: #fff;
  font-size: 15px;

  .title {
    color: $black_light;
    margin-bottom: 6px;
  }
}

.email-wrapper {
  border: 1px solid $border_color;
  border-left: 6px solid $purple;
  border-radius: 6px;
  padding: 10px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.message-input {
  border-radius: 6px;
  border: 1px solid $border_color;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  margin-bottom: 12px;
}

.name-input {
  display: inline-block;
  border: none;
  border-radius: 3px;
  border-left: 3px solid $purple;
  padding: 2px 4px;
  margin-bottom: 6px;

  &:focus {
    outline: none;
  }
}

input {
  color: $purple;
  caret-color: $purple;
}

.selected-user {
  position: relative;
  display: inline-block;
  border-radius: 18px;
  background: $blue;
  color: $white;
  margin: 0 6px 4px 0;
  padding: 4px 12px;
  cursor: pointer;
  transition: all 0.15s;
  transition-delay: 0.15s;

  &:after {
    content: "REMOVE";
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 0.3px;
    color: $black_strong;
    font-size: 13px;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.15s ease-out;
  }

  &.disabled {
    cursor: default;
  }
}

.selected-user:not(.disabled):hover {
  color: transparent;
  opacity: 0.6;

  transition-delay: 0s;

  &:after {
    opacity: 1;
    color: $white;
    transition-delay: 0.15s;
  }
}

.head {
  margin-bottom: 8px;
  .row {
    display: flex;
  }

  .time {
    margin-left: auto;
    color: $black_light;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.6;
  }

  .replays {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    color: $black_light;
    border: 2px solid $black_light;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    opacity: 0.6;
  }

  .from {
    color: $black_strong;
    display: inline-block;
  }
  .to {
    color: $black_light;
    font-size: 15px;
    display: inline-block;
  }
}

.body {
  color: $black_light;
}

.button-wrapper {
  text-align: right;

  button {
    background: $blue;
    border-radius: 18px;
    color: $white;
    padding: 4px 42px;
    border: none;
  }
}
